/* src/pages/HomePage.css */
.home-page {
    position: relative;
  }
  
  .slider {
    position: relative;
    width: 100%;
    height: 500px; /* Đặt chiều cao cho slide */
    overflow: hidden; /* Ẩn các phần ngoài khu vực slider */
  }
  
  .slide-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Giữ tỷ lệ hình ảnh */
    transition: opacity 1s ease-in-out;
  }
  